.btn {
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: inline-flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: none;

    transition: background 0.25s ease-in-out;
}

.btn:hover {
    cursor: pointer;
}

.btn__primario {   
    color: var(--branco);
    background-color: var(--azul-100);
}

.btn__primario:hover {
    background-color: var(--azul-80);
}

.btn__secundario {
    background-color: white;
    border: 1px solid var(--azul-100);
}

.btn__secundario:hover {
    background-color: var(--azul-20);
}

@media screen and (max-width: 1023px) {
    .btn {
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
        font-weight: 600;
    }
}

.btn__link:hover {
    text-decoration: none;
}