.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
}

.cabecalho__topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
}

.cabecalho__conteudo {
    display: flex;
    width: 71rem;
    padding: 2rem 0;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__logo-pesquisa {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.barra__pesquisa {
    display: flex;
    width: 24.5rem;
    padding: 0.5rem 1rem;
    align-items: center;
    gap: 0.5rem;
    background: var(--preto-05);
    border-radius: 1.25rem;
}

.barra__pesquisa-input {
    color: var(--preto-50);
    font-family: Raleway;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    background-color: var(--preto-05);
    border: none;
    width: 100%;
    box-sizing: inherit;
    outline: none;
}

.barra__pesquisa-lupa {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.barra__pesquisa-lupa:hover {
    cursor: pointer;
}

.barra__pesquisa-lupa:active {
    scale: 1.2;
    transition: ease-in;
}

.btn__login {
    display: flex;
    width: 11.375rem;
    flex-shrink: 0;
    color: var(--azul-100);
}

#lupa__mobile {
    display: none;
}

@media screen and (max-width: 1023px) {
    .cabecalho__conteudo {
        display: flex;
        width: auto;
        padding: 1rem 2rem;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    .barra__pesquisa {
        display: flex;
        width: 17rem;
        padding: 0.5rem 1rem;
        align-items: center;
        gap: 0.5rem;
        background: var(--preto-05);
        border-radius: 1.25rem;
    }
}

@media screen and (max-width: 767px) {
    .cabecalho__conteudo {
        padding: 1rem;
        justify-content: space-between;
    }

    .barra__pesquisa {
        display: none;
    }

    #lupa__mobile {
        display: block;
    }
    
    .btn__login {
        width: 8.3125rem;
    }
}