.cabecalho {
    background-color: var(--branco);
}

.all {
    background-color: var(--preto-05);
    gap: 5.75rem;
}

.login__section {
    width: 26.5rem;
    height: 18.2rem;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.61rem;
    flex-shrink: 0;
}

.form__legend {
    display: flex;
    flex-direction: column;
    align-self: stretch;

    color: var(--preto-100);
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    text-align: center; 
    font-size: 1.125rem; 
}

.login__fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;
}

.login-input__box {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 0.9rem;


    background: var(--branco);
    border-radius: 0.25rem;
}

.login-input__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.25rem;
    padding: 0 0.75rem;
    overflow: hidden;
    color: var(--preto-50);
}

.input__label {
    font-family: Raleway;
    color: #a2a2a2;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1;
    display: flex;
    flex-direction: column; 
}

.input__label-hide {
    display: none;
}

.input__input {
    border: none;
    color: #464646;
    font-family: Raleway;
    font-weight: 400;
    line-height: 1.25rem;
}

.input__input:focus {
    outline: none;
}

.login-input__line {
    background-color: var(--preto-30);
    height: 0.0625rem;
    border-radius: 1px;
    width: 100%;
}

.login__submit {
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .contato__form {
        width: 27rem;
        align-self: auto;
    }

    .input__line {
        width: 27rem;
    }
}

@media screen and (max-width: 767px) {
    .contato__form {
        width: 20.5rem;
        padding: 1rem;
    }

    .input__line {
        width: 20.5rem;
    }

    .login__section {
        width: 17.2rem;
    }
}