.produto__titulo {
    color: var(--preto-100);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 0.875rem;
}

.produto__preco {
    color: var(--preto-100);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.produto__link {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
