.produtos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.produtos__topo {
    display: flex;
    width: 71rem;
    justify-content: space-between;
    align-items: center;
}

.produtos__titulo {
    color: var(--preto-100);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.produtos__ver-tudo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--branco);

}

.ver-tudo__texto {
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--azul-100);
}

.ver-tudo__seta {
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (max-width: 1023px) {
    .produtos {
        gap: 1rem;
        width: 48rem;
        padding: 2rem;
        box-sizing: border-box;
    }

    .produtos__topo {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
    }

    .produtos__titulo {
        font-size: 1.375rem;
    }
}