.produto__titulo {
    color: var(--preto-100);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 0.875rem;
}

.produto__preco {
    color: var(--preto-100);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.produto__link, .produto__link:visited {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--azul-100);
}

@media screen and (max-width: 1023px) {
    .produto__img {
        display: flex;
        width: 10.25rem;
        height: 10.875rem;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 0.5rem;
        align-self: stretch;
    }
}
